<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blog</title>
</head>
<body class="blog-body">
{{ template "app.html" }}
<script type="module" src="/js/generated/home.js"></script> 
<div class="container"><img id="blog-img" class="blog-img" src=
"images/sample.png"></div>
<br>
<h2><u>Blog</u></h2>
<a href="/blog/ml-social"><b>the dangers of machine learning powered social media</b></a><br><br>
<h2><u>Favourites</u></h2>
<a href="https://youtu.be/cCvf2DZzKX0" target="_blank"><b>who owns the future?</b></a><br>
<a href="https://www.youtube.com/watch?v=KNOlqzMd2Zw" target="_blank"><b>how the internet failed and how to recreate it</b></a><br>
<a href="https://youtu.be/XfcvX0P1b5g" target="_blank"><b>unmasking satoshi nakamoto</b></a><br>
<a href="https://hipsum.co/" target="_blank"><b>hipster ipsum</b></a><br>
<a href="https://www.youtube.com/watch?v=zUuiqFGviOU" target="_blank"><b>hyperreality</b></a><br>
<a href="https://www.youtube.com/watch?v=f0un-l1L8Zw&t=86s" target="_blank"><b>the case against social media</b></a><br>
<a href="https://consilienceproject.org/how-big-tech-is-reshaping-governance/" target="_blank"><b>how big tech is reshaping governance</b></a><br>
<a href="https://consilienceproject.org/the-endgames-of-bad-faith-communication/" target="_blank"><b>the endgames of bad faith communication</b></a><br>
<br>
</body>
</html>
