<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blog</title>
</head>
<body class="blog-body">
{{ template "app.html" }}
<script type="module" src="/js/generated/home.js"></script> 
<div class="container"><img id="blog-img" class="blog-img" src=
"images/sample.png"></div>
<br>
<h2><u>Blog</u></h2>
<a href="/blog/source-code"><b>Souce Code movie review</b></a><br>
<a href="/blog/ml-social"><b>The dangers of machine learning powered
social media</b></a><br><br>
<h2><u>Favourites</u></h2>
<a href="https://youtu.be/cCvf2DZzKX0" target="_blank"><b>Who owns the
future?</b></a><br>
<a href="https://www.youtube.com/watch?v=KNOlqzMd2Zw" target=
"_blank"><b>How the Internet Failed and How to Recreate It</b></a><br>
<a href="https://youtu.be/XfcvX0P1b5g" target="_blank"><b>Unmasking
Satoshi Nakamoto</b></a><br>
<a href="https://hipsum.co/" target="_blank"><b>Hipster Ipsum</b></a><br>
<a href="https://www.youtube.com/watch?v=ObCTx4UNwnA" target="_blank">do we really want to be free?</a>
<br>
</body>
</html>
