<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Understanding what money really is</title>
</head>
<body class="blog-body">
{{ template "app.html" }}
<h2 class="monospace-text"><u>Understanding what money really is</u></h2>
<p class="blog">
    This essay is intended as a discussion that ties together a few different interests of mine in a creative way. In this post I discuss finance, technology and philosophy, psychology, and attempt to tie them all together. It's intended more as an adventurous exploration of what money is, how we relate to it and understand it, and what problems this can cause, rather than a logically watertight argument. 
    <br>
    <br>
    It's also important to note that this is not intended as a political essay, for as C.G. Jung said, "I am convinced that 99 per cent of politics are mere symptoms and anything but a cure for social evils." (The Symbolic Life, 1956)
    <br>
    <br>
    The motivation from this essay comes from Alan Watts' lecture on <a href="https://www.youtube.com/watch?v=XlJwQyi84NA">money as an information network</a>, and <a href="https://www.youtube.com/watch?v=rkhxMdilxJE&t=465s">John Kay's talk at Google</a></a>
    <br>
    <br>
    <b>History</b>
    <br>
    <br>
    There are historical layers of money. Let's discuss the different layers. Trade and barter is the first layer. A farmer trades some eggs for some vegetables. Then comes gold. A farmer trades some gold for some supplies. Then comes money, because it is divisible into small quantities, and convenient to carry around. A farmer trades some dollars for some sheep.  Originally, money was simply a ledger, bookkeeping about how much you owe the community, and how much the community owes you. Now comes the abstraction. In the initiation of a loan, a farmer gives the bank some money as a deposit and the bank gives the farmer back some money in the form of a loan.
    <br>
    <br>
    <b>Banking & Finance</b>
    <br>
    <br>
    Loans create certain paradoxes. Without actually doing anything for the community of tangible value, by giving the bank money as a deposit for the loan, and then receiving the money for the loan, I have in a sense modified the ledger. The bank makes money from this over the life of the loan, without creating any physical product. There is only the exchange of the representation of value. It also creates another problem, in any economy, if there is no currency creation, a sufficient number of loans will create a default, because the total debt would exceed the money supply.
    <br>
    <br>
    In thinking about this, we substitute the symbol for the reality. Money is not value, it is a communal representation of value, and making this distinction is very important as we will see throughout the rest of this essay.
    <br>
    <br>
    Banks do provide a value to the community, their job is to safeguard the money, make it easy to transfer, provide technology for doing so. The relationship to the consumer is similar with social media companies, if you're not paying for the product, you are the product. Deposit banking services are mostly free, because 8/9 of the capital is lent out for a fee.
    <br>
    <br>
    One could argue that loans are necessary for the creation of new businesses, and this is a legitimate discussion. One could also ask why is it so difficult to create a business, especially a very large business, from the ground up without first borrowing seed capital. Shouldn’t society be set up such that people can start businesses without needing to borrow money.
    <br>
    <br>
    The principle of money is that it is an account of how much I owe the community, and how much the community owes me. As soon as that principle is modified, by obtaining money without providing any real value to the community, the integrity and fairness of the system becomes contingent upon equal access to credit for all members of society. Since in practice access to credit is highly dependent on your financial standing and which country you live in, this introduces a lot of inequity to the system. Thus it is important for banks and governments to create more equity in access to financial products. Countries that are unbanked or have low competition in their banking sector typically have weaker economies.
    <br>
    <br>
    <b>The Global Financial Crisis</b>
    <br>
    <br>
    This is all potentially problematic for another reason. Because we said money represents bookkeeping of what I owe the community, and what the community owes me. If you start selling access to that bookkeeping, that is, I’ll let you modify the bookkeeping for a fee, then you introduce some non-linearity into the system. Originally you had a simple system, I give you money for some goods and services. Now lending is a part of the system, the more you have, the more you have access to. This is what mathematicians call <a href="https://en.m.wikipedia.org/wiki/Non-linear_preferential_attachment">preferential attachment.</a> It results in clusters of wealth and pockets of risk in the economy. This is more of a problem in more "financially liberal" economies like the USA and the UK.
    <br>
    <br>
    Financialisation of the economy, more complex financial products, leverage, and increased complexity and non-linearity in the way wealth clusters and accumulates is problematic from the standpoint of economic risk mitigation, and <a href="https://www.youtube.com/watch?v=J89wllbbMEE">can lead to financial crises.</a>
    <br>
    <br>
    <b>Market failure</b>
    <br>
    <br>
    The more bizarre outcome of our conflation of the representation of value with value itself, is in situations where people are out of work because the economy is weak. To most of us, it seems obvious that more people will be out of work in a weak economy, and we don't really question why this is the case. In the global financial crisis, US banks lent out too much capital to borrowers who could not pay it back. As a result, an additional 100 million people were  <a href="(https://www.fao.org/4/k6360e/k6360e.pdf)"> pushed into hunger</a>. Nothing changed in terms of the farming capacities of the world. The factories didn't somehow dissappear or malfunction overnight. So one has to wonder, why are people more people starving if there’s the same amount of food being produced. The problem is, <i>we ran out of money.</i>
    <br>
    <br>
    We said that money was just a representation of how much the community owes you, and how much you owe the community. As a society, we could run out of any commodity, but the idea of us collectively running out of money, is absurd. We invented the system. So in reality this is really a breakdown of the economic system, not any actual lack of supply for any real commodity. To rephrase a saying of <a href="https://en.wikipedia.org/wiki/Alan_Watts">Alan Watts</a>, this is akin to a mathematician turning up to work and having their employer tell them “you can’t work today, we've run out of numbers”. 
    <br>
    <br>
    <b>Government debt</b>
    <br>
    <br>
    Governments have largely learned to deal with this situation as of late. When recessions are particularly deep, money printing ensues to ensure there is enough money. Despite this, a lot of economists and talking heads are still discuss this impending doom of government debt reaching the point of unserviceability. 
    <br><br>
    There are a few different ways of tackling this problem.
    <br><br>
    <i><b>The economist's perspective</b></i><br><br>
    The governments can print the money, pay back the owners of the treasury securities, and start afresh. We could also raise taxes, lower spending, or default. The ultimate control lies with the government and federal reserve, who control the money supply. If the government defaults, then a lot of bond holders would be creditors who would have the legal right to the money if the government ever recovered. The credit rating of the government would be downgraded, leading to more difficulty in trying to raise capital in the future.
    <br>
    <br>
    <i><b>The fair perspective</b></i><br><br>
    During the GFC, when there were issues with bank liquidity, the government gave loans to the banks and insurance companies. Now there’s an issue with government debt, why shouldn’t banks and the taxpayer return the favour? It seems nobody is willing to help out the government in a time of need. The reality of entering into a loan is the acknowledgement that the borrower might not pay back the money. So long as the money was well spent on public services, in my mind, the bond holder can’t rightfully be too upset. If the money was poorly spent, then that’s a separate discussion about the way governments spend money. 
    <br>
    <br>
    <i><b>The idealistic perspective</b></i><br><br>
    This is why governments should probably never borrow money in the first place, if they need money, they should print it, or tax it. Roughly speaking, printing is inflationary, and taxing is deflationary. The idea that a government would need to into debt to pay for things is absurd, when you consider money as being just bookkeeping, tracking how much everybody owes each other in goods and services. The government is an entity set up for the good of the people, it should never “owe” anybody anything, Perhaps if there is corruption or negligence then it could be argued the government should reimburse the tax payer, although this would never happen in the current legal system of most democracies. To avoid all of these complex issues, governments should not go into debt.
    <br>
    <br>
    <b>Bitcoin</b>
    <br>
    <br>
    This understanding of <a href="https://www.youtube.com/watch?v=XlJwQyi84NA">money as an information network</a>, an abstraction, bookkeeping that we have invented to keep track of what the community owes you, and vice versa, is a very good explanation for the high dollar value of Bitcoin. Many skeptical people can't seem to understand why Bitcoin as a network is worth over a trillion dollars (as of September 2024). It seems to them to be a mistake or a ponzi scheme. The reason that some people have so much trouble understanding the monetary value of Bitcoin is because they still think that money is real, not just an abstraction that we created for convenience. Nowadays, money is so abstract it barely changes hands anymore, it's just manipulation of computer bits across the Internet. 
    <br>
    <br>
    People say something is only worth what someone is willing to pay for it, but I would argue it's the other way around, money is only worth what goods and services people are willing to give you for it. After all it's just paper (or magnetic states of transistors on computer hard drives). Economists like to think of things in very linear terms, which is a bad methodology for trying to understand money, because money is a technology with a lot of history, and it ties in with our psychology, so it can be hard to understand why a human would assign value to something if you're thinking about them as just a "rational agent".
    <br>
    <br>
    This is all very messy and antithetical to the usual clear cut accounting in which money is usually discussed. The reality is transactions were always complex, it's never been absolute, we assign subjective value to different objects and are willing to pay different prices for things depending on our own needs and desires. Economics is built on this idea of the rational consumer, but we're by nature irrational creatures. 
    <br>
    <br>
    By introducing money as bookkeeping you don’t eliminate that complexity, you just hide it with an abstraction, and create bizarre economic game theory paradoxes, where people in China can't go to work because someone in America forgot to pay their mortgage. In order for the whole system to function there needs to be an understanding collectively that money is just there for convenience. Like any technology, it should be used by us, not the other way around. There also needs to be more give and take, more trust between parties. Economies are built on trust. If money printing had bailed out people in times of need, we may all be better off today, with a stronger workforce. What you give out comes back to you, that is as true in economics as it is with anything else.
    <br>
    <br>
</p>
<b>Lachie</b>
<br>
<br>
<p class="monospace-text">Written start to finish<br>September 19th 2024</p>
</body>
</html>
