# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Testing
*.test
*.out

# Binary
app

# Environment
.env

# TLS
*.crt
*.key
*.csr
*.pub
*.pem
*.cert
**/certs/
**/keys/

# Mac OS
.DS_Store

# Log files
*.log

# Acme
**/.well-known

# Generated
**/generated/*.js

# Node
node_modules

# Diffs
out
diff

# CV
public/cv

# Build output
dist/
