# Binary
app
bin/

# Environment
.env

# TLS
*.crt
*.key
*.csr
*.pub
*.pem
*.cert
**/certs/
**/keys/

# Mac OS
.DS_Store

# Log & Test files
*.log
*.test
*.out
coverage.html
coverage.out 

# Acme
**/.well-known

# Generated
**/generated/*.js

# Node
node_modules
package-lock.json

# Diffs
out
diff

# Build output
dist/

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

