<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blog</title>
</head>
<body class="blog-body">
{{ template "app.html" }}
<script type="module" src="/js/generated/home.js"></script> 
<div class="container"><img id="book-img" class="book-img" src=
"images/sample.png"></div>
<br>

<h2 class="monospace-text"><u>Bookmarks</u></h2>
<h4 class="monospace-text">Psychology</h4>
<a href="https://www.goodreads.com/author/quotes/38285.C_G_Jung" target="_blank"><b>jung quotes</b></a><br>
<a href="https://www.goodreads.com/author/quotes/55727.Jonathan_Haidt" target="_blank"><b>jonathon haidt quotes</b></a><br>
<a href="https://www.goodreads.com/author/quotes/27903.Marie_Louise_von_Franz" target="_blank"><b>marie-louise von franz quotes</b></a><br>
<a href="https://www.youtube.com/watch?v=f0un-l1L8Zw&t=86s" target="_blank"><b>jonathan haidt</b></a><br>
<a href="https://www.youtube.com/watch?v=rbowIy6kONY" target="_blank"><b>the basic exercise</b></a><br>
<br>

<h4 class="monospace-text">Philosophy</h4>
<a href="https://www.goodreads.com/author/quotes/1501668.Alan_W_Watts" target="_blank"><b>alan w. watts</b></a><br>
<a href="https://www.goodreads.com/author/quotes/1264.Jean_Baudrillard" target="_blank"><b>jean baudrillard</b></a><br>
<a href="https://www.youtube.com/watch?v=KNOlqzMd2Zw" target="_blank"><b>jaron lanier</b></a><br>
<a href="https://www.youtube.com/watch?v=Wu1mR8mTGkE" target="_blank"><b>[then and now] what makes us postmodern</b></a><br>
<a href="https://www.youtube.com/watch?v=zUuiqFGviOU" target="_blank"><b>[sisyphus 55] hyperreality</b></a><br>
<br>

<h4 class="monospace-text">Tech</h4>
<a href="https://dustinbrett.com/" target="_blank"><b>daedalOS</b></a><br>
<a href="https://youtu.be/XfcvX0P1b5g" target="_blank"><b>unmasking satoshi nakamoto</b></a><br>
<br>

<h4 class="monospace-text">Tech [Ethics]</h4>
<a href="https://consilienceproject.org/" target="_blank"><b>consillience project</b></a><br>
<a href="https://www.outragemachine.org/" target="_blank"><b>outrage machine</b></a><br>
<a href="https://youtu.be/cCvf2DZzKX0" target="_blank"><b>who owns the future?</b></a><br>
<br>

<h4 class="monospace-text">Tech [Science]</h4>
<a href="https://en.wikipedia.org/wiki/Network_science" target="_blank"><b>network science</b></a><br>
<a href="https://en.wikipedia.org/wiki/Preferential_attachment" target="_blank"><b>preferential attachment</b></a><br>
<br>

<h4 class="monospace-text">Random</h4>
<a href="https://en.wikipedia.org/wiki/Wagon-wheel_effect" target="_blank"><b>wagon wheel effect</b></a><br>
<a href="https://en.wikipedia.org/wiki/Doppler_effect" target="_blank"><b>doppler effect</b></a><br>
<a href="https://river.com/learn/terms/c/cantillon-effect/" target="_blank"><b>cantillon effect</b></a><br>
<br>

<hr>
{{ template "footer.html" }}
</body>
</html>


