<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <nav
        class="navbar navbar-inverse bg-dark navbar-expand-lg navbar-dark fixed-top justify-content-center navigation-bar">
        <div class="container">
            <div class="navbar-collapse collapse d-flex justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    {{ if .EnableBlog }}
                    <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                    {{ end }}
                    {{ if .EnableBookmarks }}
                    <li class="nav-item"><a class="nav-link" href="/bookmarks">Bookmarks</a></li>
                    {{ end }}
                    <li class="nav-item"><a class="nav-link" href="/code" target="_blank"
                            rel="noopener noreferrer">Code</a></li>
                    <li class="nav-item"><a class="nav-link" href="/resume" target="_blank"
                            rel="noopener noreferrer">Résumé</a></li>

                </ul>
            </div>
        </div>
    </nav>
</body>

</html>