/* Content-Type: text/css */

body {
  background: lightblue;
  margin: 0;
  padding: 0 0 100px 0;
  text-align: center;
}

.index-body {
  background: lightblue;
}

.main-content {
  padding-top: 100px;
  padding-bottom: 50px;
}

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

.blog-img,
.book-img,
.home-img {
  border-radius: 20px;
  max-height: 300px;
  /* Fixed height for consistency */
  width: auto;
  margin-bottom: 20px;
}

.blog-content {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: left;
}

.monospace-text {
  font-family: 'Courier New', Courier, monospace;
}

:root {
  scrollbar-color: #BA0B00 #000000;
  scrollbar-width: none;
}

.navigation-bar {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.navbar,
.navbar-nav {
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 720px) {

  .home-img,
  .blog-img,
  .book-img {
    max-width: 100%;
    height: auto;
  }
}

.rpi-img {
  max-height: 20px;
  max-width: 20px;
}