/* Content-Type: text/css */

body {
  padding: 100px;
  text-align: center;
  background: lightblue
}

.home-img-btn {
  border-radius: 20px;
  background: lightblue;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.index-body {
  background: lightblue;
}

.nav-link {
  padding-right: .5rem!important;
  padding-left: .5rem!important;
}

.blog-img .img {
  border-radius: 20px;
  max-height: 80%;
  max-width: 80%;
}

.blog {
  text-align: left;
}

:root {
  scrollbar-color: #BA0B00 #000000;
  scrollbar-width: none;
}

.navigation-bar {
  font-family: 'Courier New', Courier, monospace;
  font: 'Courier New';
  font-size: 20px;
}

.navbar .navbar-nav {
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 720px)
{
  .img .home-img {
    max-height: 80%;
    max-width: 80%;
    border-radius: 20px
  }
}

@media (pointer:none), (pointer:coarse) {
  .index-body {
    font-size: 36px;
    font-weight: 100;
  }

  .blog-body {
    font-size: 32px;
    font-weight: 100;
  }

  .img .home-img {
    padding-top: 50px;
    border-radius: 20px;
    max-height: 80%;
    max-width: 80%;
  }

  .navbar .navbar-nav {
    font-size: 32px;
  }

  .nav-item {
    margin-left: 20px;
    margin-right: 20px;
  }

  h2 {
    font-size: 30px;
  }
}
