/* Content-Type: text/css */

body {
  padding: 100px;
  text-align: center;
  background: lightblue
}

.index-body {
  background: lightblue;
}

.blog-img {
  max-height: 45%;
  max-width: 45%;
}

.img {
  border-radius: 20px;
  max-height: 600px;
}

.blog {
  text-align: left;
}

.half-img {
  width: 50%;
}

.container {
  width: 50%;
}

:root {
  scrollbar-color: #BA0B00 #000000;
  scrollbar-width: none;
}

.navigation-bar {
  font-family: 'Courier New', Courier, monospace;
  font: 'Courier New';
  font-size: 14px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.login-button {
  display: none !important;
}

@media (max-width: 720px)
{
  .img {
    display: none;
  }
}

@media (pointer:none), (pointer:coarse) {
  .home-img {
    align-self: center;
  }

  .index-body {
    font-size: 40px;
    font-weight: 100;
  }

  .blog-body {
    font-size: 40px;
    font-weight: 100;
  }

  .img {
    border-radius: 20px;
    align-self: center;
  }

  .navbar .navbar-nav {
    font-size: 40px;
    margin: 20px;
    border-radius: 10px;
  }

  h2 {
    font-size: 30px;
  }
}
