/* Content-Type: text/css */

body {
  padding: 100px;
  text-align: center;
  background: lightblue
}

.index-body {
  background: lightblue;
}

.blog-img {
  max-height: 25%;
  border-radius: 20px;
}

.img {
  border-radius: 20px;
  max-height: 600px;
}

.blog {
  text-align: left;
}

:root {
  scrollbar-color: #BA0B00 #000000;
  scrollbar-width: none;
}

.navigation-bar {
  font-family: 'Courier New', Courier, monospace;
  font: 'Courier New';
  font-size: 20px;
}

.navbar .navbar-nav {
  justify-content: center;
  flex-direction: row;
}

.nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 720px)
{
  .img {
    display: none;
  }
}

@media (pointer:none), (pointer:coarse) {
  .index-body {
    font-size: 32px;
    font-weight: 100;
  }

  .blog-body {
    font-size: 32px;
    font-weight: 100;
  }

  .img .home-img {
    padding-top: 50px;
    border-radius: 20px;
    max-height: none;
  }

  .navbar .navbar-nav {
    font-size: 32px;
  }


  h2 {
    font-size: 30px;
  }
}
